/* HAMBURGER */
.hamburger{
  position:fixed;
  top:20px;
  right:20px;
  font-size:26px;
  color:#fff;
  cursor:pointer;
  z-index:1000;
}

/* SIDE MENU */
.side-menu{
  position:fixed;
  top:0;
  right:-280px;
  width:260px;
  height:100%;
  background:#111;
  padding:80px 25px;
  box-shadow:-10px 0 40px rgba(0,0,0,.6);
  transition:.35s ease;
  z-index:999;
}

.side-menu.open{
  right:0;
}

.side-menu a,
.side-menu span{
  display:block;
  color:#eee;
  text-decoration:none;
  font-size:1rem;
  padding:12px 0;
}

.side-menu a:hover,
.side-menu span:hover{
  color:var(--blue);
}

/* CLOSE */
.close-btn{
  position:absolute;
  top:20px;
  right:20px;
  cursor:pointer;
}

/* SUB MENU */
.side-submenu{
  display:none;
  padding-left:15px;
}

.side-submenu.open{
  display:block;
}
.testimonial{
  max-width:700px;
  padding:25px;
  margin-top:25px;
  background:#111;
  border-left:4px solid var(--blue);
  border-radius:10px;
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}

.testimonial p{
  font-style:italic;
  color:#ccc;
  line-height:1.7;
}

.testimonial strong{
  display:block;
  margin-top:10px;
  color:#fff;
}


.side-submenu a{
  font-size:.9rem;
  color:#bbb;
}
